/* body{
    background-image: linear-gradient(to bottom, #0f022b, #271038, #431844, #5e214d, #7a2b53, #8c3356, #9d3d57, #ad4858, #b95158, #c45a58, #ce6457, #d76f56);
    height:100%;
}
 .no-shadows {
    box-shadow: none!important;
}
.mt-5{
    margin-top:15%;
} */